<div class="container cadrePourquoi">
    <div class="row" style="padding-top: 40px;">
<!--         <div class="col-md-4">
            <img src="./assets/Images/bg-03.png" class="img-fluid" alt="">
        </div> -->
        <div class="col-md-12 mobileCadre">
            <div>
                <h2 class="textW">4 Règles d'Or pour acheter un terrain en toute sécurité à Abidjan.</h2>
            </div>
            <div>
                <span class="sous-text">
                    Acheter un terrain sécurisé à Abidjan n’est pas toujours aisé. Plusieurs acheteurs se font malheureusement dupés par des propriétaires terriens et par des démarcheurs immobiliers.
                    Afin de vous permettre d’échapper aux griffes de ses ravisseurs Homega vous donne dans cet article les 4 règles d’or à connaître avant d’acheter un terrain en Côte d’Ivoire.
                </span>
            </div>
            <div class="pt-5">
                <div class="icon-box">
                    <span class="icon">
                        <i class="fa fa-check check" aria-hidden="true">
                        </i>
                    </span> 
                </div>
                <h6>
                     Un lotissement approuvé
                </h6>
                <span class="sous-description">
                    L’acquéreur doit s’assurer que le lot qu’il veut acheter est issu d’un lotissement qui a été régulièrement approuvé par un arrêté du Ministre de la Construction et de l’Urbanisme. Il peut le faire simplement en exigeant une copie dudit arrêté auprès du vendeur et viendra établir son authenticité au Ministère de la Construction et de l’Urbanisme. Si le lot n’est pas issu d’un lotissement approuvé, l’acquéreur s’expose à des s tels que la perte du terrain, quand il fait l’objet d’un conflit entre les villageois, la réduction du terrain, la démolition de sa maison quand une route traverse la parcelle. Il faut donc acheter un terrain avec un vendeur qui détient un ACD.
                    On parle alors de terrains(ou parcelles) détenus en pleine propriété.
                </span>
            </div>
            <div class="pt-5">
                <div class="icon-box">
                    <span class="icon">
                        <i class="fa fa-check check" aria-hidden="true">
                        </i>
                    </span> 
                </div>
                <h6>
                    La localisation du terrain
                </h6>
                <span class="sous-description">
                    L’acquéreur doit s’assurer que les numéros de l’ilot et du lot correspondent à ceux qui ont été présentés sur papier.
                    Aussi doit-il vérifier qu’il s’agit effectivement du terrain qui a fait l’objet du lotissement sans oublier de contrôler le bornage, la superficie du terrain en exploitant l’extrait topographique qui lui a été remis par le géomètre.
                </span>
            </div>
            <div class="pt-5">
                <div class="icon-box">
                    <span class="icon">
                        <i class="fa fa-check check" aria-hidden="true">
                        </i>
                    </span> 
                </div>
                <h6>
                    L’attestation de cession ou l’attestation de propriété coutumière
                </h6>
                <span class="sous-description">
                    L’acquéreur doit s’assurer que l’attestation que le vendeur lui tend revêt la signature du vrai propriétaire de terre ou de l’autorité villageoise compétente. En ce qui concerne l’autorité villageoise, il peut d’agir du chef ou du comité de gestion.
                    L’acquéreur peut aussi se renseigner auprès de la Préfecture territorialement compétente pour établir la légitimité de l’autorité villageoise.
                    En outre, il doit veiller à ce que son nom soit effectivement inscrit par la chefferie ou le lotisseur, dans le guide du lotissement qui sera déposé auprès des services du Ministère de la Construction et de l’Urbanisme. Quand  il s’agit d’un lotissement déjà approuvé dont le guide est au Ministère de la Construction et de l’Urbanisme, il sollicite un huissier de justice qui se chargera de faire un constat suivi d’un procès-verbal de mise à jour.
                    Pour les terrains détenus en pleine propriété (le vendeur détient un ACP ou un ACD), l’acquéreur doit solliciter l’expertise d’un notaire qui procédera à une vérification de l’authenticité des actes, afin d’établir l’acte de vente et de procéder à la mise à jour.
                    Quand le vendeur détient une lettre d’attribution, l’acquéreur doit faire, auprès du service du Guichet Unique du foncier, une demande de position foncière pour se rassurer que le vendeur est le vrai propriétaire.
                </span>
            </div>
            <div class="pt-5">
                <div class="icon-box">
                    <span class="icon">
                        <i class="fa fa-check check" aria-hidden="true">
                        </i>
                    </span> 
                </div>
                <h6>
                    Le dossier technique de bornage-morcellement de terrain
                </h6>
                <span class="sous-description">
                    L’acquéreur doit s’assurer que ce dossier technique a été fait par un géomètre assermenté et agréé. Il peut se renseigner auprès de l’ordre des géomètres et il est même conseillé de prendre toutes les informations techniques précises avec le géomètre qui s’est occupé du dossier de lotissement jusqu’à l’approbation de la zone concédée. Seul ce géomètre peut donner une lecture exacte des routes et des espaces publics qui frappent l’espace en question.
                    Lorsque toutes ces précautions ont été prises, l’acquéreur après avoir payé le prix du terrain  appelé aussi frais de notabilité, peut déposer son dossier de demande d’ACD (Arrêté de Concession Définitive).
                </span>
            </div>
        </div>
    </div>
</div>
